.App {
  padding: 4rem 2rem;
  background-color: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
}
.header {
  text-align: center;
}

.header h3 {
  color: #456db9;
  margin-bottom: 10px;
}

h4 {
  /* content: ""; */
  height: 2rem;
  padding: 5px 10px;
  display: grid;
  align-items: center;
}

span {
  font-weight: 700;
  font-size: 1.5rem;
  color: red;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
}

.tableMain {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 5;
  text-align: center;
}

.tableCol {
  padding: 8px 0;
}

.tableMain .tableCol {
  border-radius: 10px;
  flex: 1;
}

.tableCol.colActive {
  border: 2px solid #456db9;
  padding: 6px 0;
}

.colActive h4 {
  color: #456db9;
}

.tableCol p {
  height: 3rem;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.tableMain p {
  justify-content: center;
}

.tableCol p:nth-of-type(2n + 1) {
  background-color: #e9e9e9;
}

@media (max-width: 600px) {
  .App {
    padding: 3rem 0.5rem 1rem;
  }
  h4 {
    word-break: break-all;
    height: 3rem;
    padding: 5px;
  }

  h4,
  .tableCol p {
    font-size: 13px;
    padding-left: 5px;
  }
}
